.learnCard {
  display: flex;
  gap: 2em;
  flex-direction: row;
  max-width: 900px;
  max-height: 600px;
  background: #f5f5f5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.learnText {
  padding: 0 1em;
}

.learnText h1 {
  font-size: 40px;
}
.learnText p {
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
}
