.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

@mixin arrowBtn{
  
  border: none;
  padding: 0.5rem 0.5rem;
  border-radius: 100%;
  cursor: pointer;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

}
.arrowBtnLight{
  @include arrowBtn;
  background: rgb(219, 219, 219);
}

.arrowBtnDark{
  @include arrowBtn;
  background: black;
}

.arrowBtnLight:hover{
  background-color: #999999;
}
.arrowBtnDark:hover{
  background-color: #222222;
}
